<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/filter.css" />
    <title>Filter</title>
  </head>
  <body>
    <header class="header">
      <a class="website-name" href="#">
        <div class="name1">SUST</div>
        <div class="name2">KROY BIKROY</div>
      </a>

      <nav class="main-nav">
        <div class="search-box">
          <ion-icon class="search-icon" name="search"></ion-icon>
        </div>

        <ion-icon class="icons" name="notifications-outline"></ion-icon>
        <ion-icon class="icons" name="person"></ion-icon>
      </nav>
    </header>
    <main>
      <section class="category">
        <li class="category-list">Furnitures</li>
        <li class="category-list">Electronics</li>
        <li class="category-list">House-holds</li>
        <li class="category-list">Vehicles</li>
        <li class="category-list">Mess</li>
        <li class="category-list">More</li>
      </section>
      <div class="void"></div>
      <section class="grid">
        <div class="grid--2-cols">
          <div>
            <p class="title">Electronics</p>
            <div class="voidd"></div>
            <p class="sub-category">Sub-Categories :</p>
            <div class="voidd"></div>
            <ul>
              <input type="checkbox" />
              Fan
              <div class="voidd"></div>
              <input type="checkbox" />
              Light
              <div class="voidd"></div>
              <input type="checkbox" />
              Powerbank
              <div class="voidd"></div>
              <input type="checkbox" />
              Laptop
              <div class="voidd"></div>
            </ul>
            <p class="sub-category">Price :</p>
            <div class="voidd"></div>
            <ul class="secondList">
              <input type="checkbox" />
              Less than 100
              <div class="voidd"></div>
              <input type="checkbox" />
              100 to 500
              <div class="voidd"></div>
              <input type="checkbox" />
              More than 500
              <div class="voidd"></div>
            </ul>
          </div>
          <div>
            <div class="sort">
              <label for="sorting">Sort By</label>
              <select name="sortt" id="sortt">
                  <option value="recent">Most Recent</option>
                <option value="lowest">Lowest Price</option>
                <
              </select>
            </div>
            
            <div class="grid--3-cols">
              <div class="products">
                <img class="product-img" src="img/watch.jpg" />
                <div class="price-container">
                  <h1 class="product-name">Men Wrist Watch</h1>
                  <h1 class="product-price">Tk.1500</h1>
                </div>
              </div>
            
            
              <div class="products">
                <img class="product-img" src="img/watch.jpg" />
                <div class="price-container">
                  <h1 class="product-name">Men Wrist Watch</h1>
                  <h1 class="product-price">Tk.1500</h1>
                </div>
              </div>
              <div class="products">
                <img class="product-img" src="img/watch.jpg" />
                <div class="price-container">
                  <h1 class="product-name">Men Wrist Watch</h1>
                  <h1 class="product-price">Tk.1500</h1>
                </div>
              </div>
              <div class="products">
                <img class="product-img" src="img/watch.jpg" />
                <div class="price-container">
                  <h1 class="product-name">Men Wrist Watch</h1>
                  <h1 class="product-price">Tk.1500</h1>
                </div>
              </div>
              
            
          </div>
        </div>
      </section>
      <footer class="footer">
        <div class="containerrr footer-grid--4-cols">
          <div class="footer-grid">
            <a class="website-name footer-title" href="#">
              <div class="name1">SUST</div>
              <div class="name2">KROY BIKROY</div>
            </a>
            <p class="copyright">Copyright 2022 by SUST KROY BIKROY,</p>
            <p class="copyright">All rights reserved.</p>
          </div>


          <div class="footer-grid">
            <div class="title">Contact us</div>
            <div class="footer-text">Sylhet,Bangladesh</div>
            <div class="footer-text">011111111111</div>
            <div class="footer-text">sustkroybikroy@gmail.com</div>
          </div>


          <div class="footer-grid">
            <div class="title">Account</div>
            <div class="footer-text">Sign in</div>
            <div class="footer-text">Create account</div>
            <div class="footer-text">Android app</div>
            <div class="footer-text">IOS app</div>
          </div>


          <div class="footer-grid">
            <div class="title"">Information</div>
            <div class="footer-text">About us</div>
            <div class="footer-text">Privacy & terms</div>
            <div class="footer-text">Help center</div>
          </div>

        </div>
        
      </footer>
    </main>
    <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
  </body>
</html>
