<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/productStyle.css" />
    <title>MESS</title>
  </head>
  <body>
    <header class="header">
      <a class="website-name" href="#">
        <div class="name1">SUST</div>
        <div class="name2">KROY BIKROY</div>
      </a>

      <nav class="main-nav">
        <div class="search-box">
          <ion-icon class="search-icon" name="search"></ion-icon>
        </div>

        <ion-icon class="icons" name="notifications-outline"></ion-icon>
        <ion-icon class="icons" name="person"></ion-icon>
      </nav>
    </header>

    <main>
      <section class="category">
        <li class="category-list">Furnitures</li>
        <li class="category-list">Electronics</li>
        <li class="category-list">House-holds</li>
        <li class="category-list">Vehicles</li>
        <li class="category-list">Mess</li>
        <li class="category-list">More</li>
      </section>

      <section class="route">
        <p class="route-description">Home > Mess > Spacious Room</p>
      </section>

      <section class="grid">
        <container class="grid--2-cols">
          <div>
            <img class="product-img" src="img/mess.jpg" />
            <div class="images">
              <img class="img1" src="img/mess.jpg" />
              <img class="img" src="img/mess.jpg" />
            </div>
          </div>
          <div>
            <p class="product-title">Spacious Room</p>
            <p class="product-price">Tk.2500</p>
            <p class="void"></p>
            <p></p>
            <p class="product-description">
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maxime
              voluptas culpa sint debitis necessitatibus officiis, enim at quia
              magni, tempore in consequuntur adipisci cupiditate officia ipsa
              fuga aut dolor id?Lorem ipsum dolor sit amet consectetur
              adipisicing elit. Similique aliquam nostrum explicabo aut. Modi
              minus itaque voluptas totam ducimus tenetur temporibus ipsa illo,
              necessitatibus veniam distinctio, voluptate nisi unde porro.
            </p>

            <p class="product-used-date">Location : SUST Gate</p>
            <p class="warranty">Warranty Card Available: No</p>
            <p class="defects">Vacancy : 2</p>
            
            <p class="product-contact-info">Contact Info: 10000000000</p>
            <div class="chat-now-box">
              <p class="chat">CHAT</p>
            </div>
            <div class="buy-now-box">
              <p class="buy">RENT IT NOW</p>
            </div>
          </div>
        </container>
      </section>
      <section class="suggestion">
        <p class="suggestion-text">You May Also Like</p>
        <div class="grid--4-cols">
          <img class="img2" src="img/mess.jpg" />
          <img class="img2" src="img/mess.jpg" />
          <img class="img2" src="img/mess.jpg" />
          <img class="img2" src="img/mess.jpg" />
        </div>
      </section>
      <footer class="footer">
        <div class="containerrr footer-grid--4-cols">
          <div class="footer-grid">
            <a class="website-name footer-title" href="#">
              <div class="name1">SUST</div>
              <div class="name2">KROY BIKROY</div>
            </a>
            <p class="copyright">Copyright 2022 by SUST KROY BIKROY,</p>
            <p class="copyright">All rights reserved.</p>
          </div>


          <div class="footer-grid">
            <div class="title">Contact us</div>
            <div class="footer-text">Sylhet,Bangladesh</div>
            <div class="footer-text">011111111111</div>
            <div class="footer-text">sustkroybikroy@gmail.com</div>
          </div>


          <div class="footer-grid">
            <div class="title">Account</div>
            <div class="footer-text">Sign in</div>
            <div class="footer-text">Create account</div>
            <div class="footer-text">Android app</div>
            <div class="footer-text">IOS app</div>
          </div>


          <div class="footer-grid">
            <div class="title"">Information</div>
            <div class="footer-text">About us</div>
            <div class="footer-text">Privacy & terms</div>
            <div class="footer-text">Help center</div>
          </div>

        </div>
        
      </footer>

    </main>
    <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
  </body>
</html>
