<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Profile - Sust Kroy Bikroy</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <header class="header">
      <a class="website-name" href="/">
        <div class="name1">SUST</div>
        <div class="name2">KROY BIKROY</div>
      </a>

      <nav class="main-nav">
        <div class="search-box">
          <ion-icon class="search-icon" name="search"></ion-icon>
        </div>

        <ul>
          <ion-icon class="icons" name="notifications-outline"></ion-icon>
          <li><a href="/">Home</a></li>
          <li>
            <a href="/profile"
              ><ion-icon class="icons" name="person"></ion-icon
            ></a>
          </li>
          <li>
            <a class="btn btn-danger" href="/auth/logout">Logout</a>
          </li>
        </ul>

        <!-- <ion-icon class="icons" name="person"></ion-icon> -->
      </nav>
    </header>
    <!-- <nav>
      <h4>SUST KROY BIKROY</h4>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/profile">Profile</a></li>
        <li><a href="/auth/logout">Logout</a></li>
      </ul>
    </nav> -->

    <div class="container mt-4 container-profile">
      <div class="row">
        <div class="col-4">
          <div class="card">
            <div class="avatar-ctn">
              <img
                src="/images/avatar.png"
                class="avatar"
                alt="user profile picture"
              />
            </div>
            <div class="card-body">
              <h5 class="card-title profile-text"><%= user.full_name %></h5>
              <p class="card-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Delectus sunt sint aliquid soluta iure saepe dolore amet magni
              </p>
              <a href="#" class="btn btn-primary"><%= user.email %></a>
            </div>
          </div>
        </div>

        <div class="col-8">
          <div class="card text-center">
            <div class="card-header">Profile Page</div>
            <div class="card-body">
              <h5 class="card-title profile-text">
                Hey <%= user.full_name %> welcome back
              </h5>
              <p class="card-text">
                This is your profile page where you can add all the information
                about yourself
              </p>
              <a href="#" class="btn btn-primary">Update Profile</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
      crossorigin="anonymous"
    ></script>
    <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
  </body>
</html>
