<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/updateProfile.css" />
    <title>Update User Profile</title>
  </head>
  <body>
    <header class="header">
      <a class="website-name" href="#">
        <div class="name1">SUST</div>
        <div class="name2">KROY BIKROY</div>
      </a>

      <nav class="main-nav">
        <div class="search-box">
          <ion-icon class="search-icon" name="search"></ion-icon>
        </div>

        <ion-icon class="icons" name="notifications-outline"></ion-icon>
        <ion-icon class="icons" name="person"></ion-icon>
      </nav>
    </header>
    <main>
      <section class="category">
        <li class="category-list">Furnitures</li>
        <li class="category-list">Electronics</li>
        <li class="category-list">House-holds</li>
        <li class="category-list">Vehicles</li>
        <li class="category-list">Mess</li>
        <li class="category-list">More</li>
      </section>
      <div class="void"></div>
      <section class="grid">
        <container class="grid--2-cols">
          <div>
            <img class="product-img" src="img/us.png" />
          </div>
          <div>
            <form>
              <label for="fname">First name:</label>

              <input type="text" id="fname" name="fname" />
              <div class="voidd"></div>
              <label for="lname">Last name:</label>
              <input type="lname" id="lname" name="lname" />
              <div class="voidd"></div>
              <label for="contact">Contact :</label>
              <input type="contact" id="contact" name="contact" />
              <div class="voidd"></div>
              <label for="email">Email :</label>
              <input type="email" id="email" name="email" />
              <div class="voidd"></div>
              <label for="address">Address :</label>
              <input type="address" id="address" name="address" />
              <div class="voidd"></div>
              <label for="dept">Department :</label>
              <input type="dept" id="dept" name="dept" />
              <div class="voidd"></div>
              <label for="session">Session :</label>
              <input type="session" id="session" name="session" />
              <div class="voidd"></div>
              <input type="submit" value="Submit" />
            </form>
          </div>
        </container>
      </section>
      <footer class="footer">
        <div class="containerrr footer-grid--4-cols">
          <div class="footer-grid">
            <a class="website-name footer-title" href="#">
              <div class="name1">SUST</div>
              <div class="name2">KROY BIKROY</div>
            </a>
            <p class="copyright">Copyright 2022 by SUST KROY BIKROY,</p>
            <p class="copyright">All rights reserved.</p>
          </div>


          <div class="footer-grid">
            <div class="title">Contact us</div>
            <div class="footer-text">Sylhet,Bangladesh</div>
            <div class="footer-text">011111111111</div>
            <div class="footer-text">sustkroybikroy@gmail.com</div>
          </div>


          <div class="footer-grid">
            <div class="title">Account</div>
            <div class="footer-text">Sign in</div>
            <div class="footer-text">Create account</div>
            <div class="footer-text">Android app</div>
            <div class="footer-text">IOS app</div>
          </div>


          <div class="footer-grid">
            <div class="title"">Information</div>
            <div class="footer-text">About us</div>
            <div class="footer-text">Privacy & terms</div>
            <div class="footer-text">Help center</div>
          </div>

        </div>
        
      </footer>
    </main>
    <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
  </body>
</html>
