<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/profile.css" />
    <title>User Profile</title>
  </head>
  <body>
    <header class="header">
      <a class="website-name" href="#">
        <div class="name1">SUST</div>
        <div class="name2">KROY BIKROY</div>
      </a>

      <nav class="main-nav">
        <div class="search-box">
          <ion-icon class="search-icon" name="search"></ion-icon>
        </div>

        <ion-icon class="icons" name="notifications-outline"></ion-icon>
        <ion-icon class="icons" name="person"></ion-icon>
      </nav>
    </header>
    <main>
      <section class="category">
        <li class="category-list">Furnitures</li>
        <li class="category-list">Electronics</li>
        <li class="category-list">House-holds</li>
        <li class="category-list">Vehicles</li>
        <li class="category-list">Mess</li>
        <li class="category-list">More</li>
      </section>
      <div class="void"></div>

      <section class="grid">
        <container class="grid--2-cols">
          <div>
            <img class="product-img" src="img/watch.jpg" />
            <div class="update-box">
              <p class="update">UPDATE PROFILE</p>
            </div>
          </div>
          <div>
            <p class="user-name">User Name</p>
            <!-- <p class="product-price">Tk.1500</p> -->
            <p class="void"></p>
            <p class="info">General Info</p>

            <p class="contact">
              Contact :&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
              001010101010
            </p>
            <p class="email">
              Email :&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
              &nbsp; &nbsp;user@gmail.com
            </p>
            <p class="address">
              Address :&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
              &nbsp;SUST Gate
            </p>
            <p class="dept">Department : &nbsp; &nbsp; &nbsp; &nbsp; CSE</p>
            <p class="session">
              Session :&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
              &nbsp;2018-19
            </p>
          </div>
        </container>
      </section>
      <section class="previous-prod-post">
        <div class="grid--2-col">
          <p class="prev-title">My Product Posts</p>
          <div class="post-now-box">
            <p class="post">POST NOW</p>
          </div>
        </div>
        <div class="grid--4-cols">
          <img class="img2" src="img/watch.jpg" />
          <img class="img2" src="img/watch.jpg" />
          <img class="img2" src="img/watch.jpg" />
          <img class="img1" src="img/nextt.png" />
          
        </div>
        
      </section>
      <div class="voidd"></div>
      <section class="previous-prod-post">
        <div class="grid--2-col">
          <p class="prev-title">My Mess Posts</p>
          <div class="post-now-box">
            <p class="post">POST NOW</p>
          </div>
        </div>
        
        <div class="grid--4-cols">
          <img class="img2" src="img/mess.jpg" />
          <img class="img2" src="img/mess.jpg" />
          <img class="img2" src="img/mess.jpg" />
          <img class="img1" src="img/nextt.png" />
          
        </div>
       
      </section>
      <div class="voidd"></div>
      <section class="buyer-order">
         <p class="prev-title">Buyer Orders</p>
         <div class="card  grid-2-col">
          <div class="first-col">
            <p class="order-id">Order id : #a250</p>
            <div class="voidddd"></div>
            <div class="grid-2">
              <img class="imgg" src="img/mess.jpg" />
              <div>
              <p class="prod-name">Product Name : &nbsp; Watch</p>
              <p class="seller-id">Buyer Id : &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; @31899</p>
            </div>
            </div>
            
          </div>
          <div>
            <p class="total-price">Total Price : &nbsp; 500Tk.</p>
            <p class="quantity">Quantity : &nbsp; &nbsp;&nbsp;  1</p>
  
            <div class="status">
              <p class="stat">Order Completed</p>
            </div>
          </div>
            
         </div>
         <div class="voiddd">
         </div>
         <div class="card grid-2-col">
          <div class="first-col">
            <p class="order-id">Order id : #a250</p>
            <div class="voidddd"></div>
            <div class="grid-2">
              <img class="imgg" src="img/mess.jpg" />
              <div>
              <p class="prod-name">Product Name : &nbsp;Watch</p>
              <p class="seller-id">Buyer Id : &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp; @31899</p>
            </div>
            </div>
            
          </div>
          <div>
            <p class="total-price">Total Price : &nbsp; 500Tk.</p>
            <p class="quantity">Quantity : &nbsp; &nbsp;&nbsp; 1</p>
  
            <div class="statusp">
              <p class="statp">Order Pending</p>
            </div>
          </div>
        </div>
        <div class="voiddd">
        </div>
        <div class="card grid-2-col">
          <div class="first-col">
            <p class="order-id">Order id : #a250</p>
            <div class="voidddd"></div>
            <div class="grid-2">
              <img class="imgg" src="img/mess.jpg" />
              <div>
              <p class="prod-name">Product Name : &nbsp; Watch</p>
              <p class="seller-id">Buyer Id : &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp; @31899</p>
            </div>
            </div>
            
          </div>
          <div>
            <p class="total-price">Total Price : &nbsp; 500Tk.</p>
            <p class="quantity">Quantity : &nbsp; &nbsp; &nbsp; 1</p>
  
            <div class="status">
              <p class="stat">Order Completed</p>
            </div>
          </div>
       </div>
      </section>
      
      <section class="buyer-order">
         <p class="prev-title">My Orders</p>
         <div class="card  grid-2-col">
          <div class="first-col">
            <p class="order-id">Order id : #a250</p>
            <div class="voidddd"></div>
            <div class="grid-2">
              <img class="imgg" src="img/watch.jpg" />
              <div >
              <p class="prod-name">Product Name : &nbsp; Watch</p>
              <p class="seller-id">Seller Id : &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp; @31899</p>
            </div>
            </div>
            
          </div>
          <div class="my-order">
            <p class="total-price">Total Price : &nbsp; 500Tk.</p>
            <p class="quantity">Quantity : &nbsp; &nbsp; &nbsp; 1</p>
  
            
          </div>
            
         </div>
         <div class="voiddd">
         </div>
         <div class="card grid-2-col">
          <div class="first-col">
            <p class="order-id">Order id : #a250</p>
            <div class="voidddd"></div>
            <div class="grid-2">
              <img class="imgg" src="img/mess.jpg" />
              <div>
              <p class="prod-name">Product Name : &nbsp; Watch</p>
              <p class="seller-id">Seller Id : &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;  @31899</p>
            </div>
            </div>
            
          </div>
          <div class="my-order">
            <p class="total-price">Total Price : &nbsp; 500Tk.</p>
            <p class="quantity">Quantity : &nbsp; &nbsp; &nbsp; 1</p>
  
            
          </div>
        </div>
        <div class="voiddd">
        </div>
        <div class="card grid-2-col">
          <div class="first-col">
            <p class="order-id">Order id : #a250</p>
            <div class="voidddd"></div>
            <div class="grid-2">
              <img class="imgg" src="img/mess.jpg" />
              <div>
              <p class="prod-name">Product Name : &nbsp; Watch</p>
              <p class="seller-id">Seller Id : &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; @31899</p>
            </div>
            </div>
            
          </div>
          <div class="my-order">
            <p class="total-price">Total Price : &nbsp; 500Tk.</p>
            <p class="quantity">Quantity : &nbsp; &nbsp; &nbsp;1</p>
  
            
          </div>
       </div>
      </section>
      <footer class="footer">
        <div class="containerrr footer-grid--4-cols">
          <div class="footer-grid">
            <a class="website-name footer-title" href="#">
              <div class="name1">SUST</div>
              <div class="name2">KROY BIKROY</div>
            </a>
            <p class="copyright">Copyright 2022 by SUST KROY BIKROY,</p>
            <p class="copyright">All rights reserved.</p>
          </div>


          <div class="footer-grid">
            <div class="title">Contact us</div>
            <div class="footer-text">Sylhet,Bangladesh</div>
            <div class="footer-text">011111111111</div>
            <div class="footer-text">sustkroybikroy@gmail.com</div>
          </div>


          <div class="footer-grid">
            <div class="title">Account</div>
            <div class="footer-text">Sign in</div>
            <div class="footer-text">Create account</div>
            <div class="footer-text">Android app</div>
            <div class="footer-text">IOS app</div>
          </div>


          <div class="footer-grid">
            <div class="title"">Information</div>
            <div class="footer-text">About us</div>
            <div class="footer-text">Privacy & terms</div>
            <div class="footer-text">Help center</div>
          </div>

        </div>
        
      </footer>
    </main>
    <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
  </body>
</html>
