* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: sans-serif;
  line-height: 1;
  font-weight: 400;
}

/*************************************************/
/*HEADER*/
/*************************************************/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6rem;
  background-color: white;
  padding: 3.2rem 4.8rem;
}
.website-name {
  font-size: 2.4rem;
  text-decoration: none;
  color: black;
  font-weight: bolder;
  display: flex;
}
.name1 {
  color: rgb(245, 245, 42);
  padding-right: 1.2rem;
}

.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  gap: 2rem;
}
.search-box {
  background-color: rgb(247, 239, 239);
  width: 40rem;
  height: 3rem;
  border-radius: 2.4rem;
}
.icons {
  color: black;
  height: 2.4rem;
  width: 2.4rem;
}
.search-icon {
  color: black;
  height: 2rem;
  width: 2rem;
  padding-left: 37rem;
  padding-top: 0.5rem;
}

.category {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.6rem 22rem;
  padding-bottom: 1.2rem;
  list-style: none;
}
.category-list {
  font-size: 1.6rem;
  font-weight: 500;
}

/*************************************************/
/*FILTER*/
/*************************************************/
.void {
  height: 6rem;
}
.grid {
  height: auto;
  margin-top: 2rem;
}
.grid--2-cols {
  display: flex;
  margin-left: 17rem;
  grid-template-columns: repeat(2, 1fr);
  box-sizing: border-box;
  width: 110rem;
  height: auto;
  column-gap: 8rem;
}
.voidd {
  height: 1rem;
}
.title {
  font-size: 1.8rem;
}
.sub-category {
  font-size: 1.5rem;
  margin-top: 6rem;
}
input [type="checkbox"] {
  margin-top: 2rem;
  font-size: 2rem;
}
.sort {
  margin-left: 67rem;
}

.products {
  height: 35rem;
  width: 28rem;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  box-shadow: 0.05px 0.05px 6px rgb(158, 157, 157);
  overflow: hidden;
  margin-top: 5rem;
}

.product-img {
  height: 28rem;
  width: 28rem;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  transition: all 0.4s;
}

.product-img:hover {
  transform: scale(1.1);
}

.price-container {
  overflow: hidden;
  height: 6.5rem;
  width: 28rem;
  background-color: rgb(251, 247, 247);

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.4rem;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}
.grid--3-cols {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  box-sizing: border-box;

  height: auto;

  column-gap: 2rem;

  align-self: center;
  margin-top: 2rem;
}

/*************************************************/
/*FOOTER*/
/*************************************************/
.footer {
  height: 45rem;
}
.containerrr {
  max-width: 100%;
  height: 45rem;
  padding: 0 8rem;
}
.footer-grid {
  margin-top: 15em;
  height: 20rem;
}
.copyright {
  font-size: 1.2rem;
  line-height: 1.8;
  color: grey;
}

.title {
  font-size: 2rem;
  line-height: 1.8rem;
  font-weight: bold;
  color: rgb(86, 85, 85);
  margin-bottom: 4.5rem;
}

.footer-text {
  font-size: 1.8rem;
  line-height: 1.8rem;
  color: grey;
  margin-bottom: 2rem;
}
.footer-title {
  margin-bottom: 10rem;
}

.name1 {
  color: rgb(245, 245, 42);
  padding-right: 1.2rem;
}
.footer-grid--4-cols {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 6.4rem;
}
