* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: sans-serif;
  line-height: 1;
  font-weight: 400;
}

/*************************************************/
/*GENERAL*/
/*************************************************/
.void {
  height: 15rem;
}
.showMore {
  font-size: 1.8rem;
}

/*************************************************/
/*HEADER*/
/*************************************************/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6rem;
  background-color: white;
  padding: 3.2rem 4.8rem;
  /*background-color: bisque;*/
}
.website-name {
  font-size: 2.4rem;
  text-decoration: none;
  color: black;
  font-weight: bolder;
  display: flex;
}
.name1 {
  color: rgb(245, 245, 42);
  padding-right: 1.2rem;
}

.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  gap: 2rem;
}
.search-box {
  background-color: rgb(247, 239, 239);
  width: 40rem;
  height: 3rem;
  border-radius: 2.4rem;
}
.icons {
  color: black;
  height: 2.4rem;
  width: 2.4rem;
}
.search-icon {
  color: black;
  height: 2rem;
  width: 2rem;
  padding-left: 37rem;
  padding-top: 0.5rem;
}

.category {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.6rem 22rem;
  padding-bottom: 1.2rem;
  list-style: none;
}
.category-list {
  font-size: 1.6rem;
}

/*************************************************/
/*HERO SECTION*/
/*************************************************/
.section-hero {
  /*background-color: chocolate;*/
  height: 58rem;
}

.hero {
  position: relative;
  height: 58rem;
  color: white;
  display: block;
}

.sust-img {
  width: 100%;
  height: 58rem;
  opacity: 80%;
}
.text1 {
  position: absolute;
  top: 70%;
  padding-left: 5rem;
  font-size: 3.5rem;
  font-style: italic;
  font-weight: bolder;
}
.text2 {
  position: absolute;
  top: 80%;
  padding-left: 5rem;
  font-size: 3.5rem;
  font-style: italic;
  font-weight: bolder;
}

/*************************************************/
/*RECENT PRODUCTS*/
/*************************************************/
.recent-products {
  height: 150rem;
}
.recent-product-title {
  color: black;

  padding-left: 52rem;
  padding-right: 52rem;
  padding-bottom: 3rem;
  font-size: 3rem;
}
hr {
  border: 0;
  border-top: 1px solid black;
  padding-bottom: 10rem;
}
.container {
  max-width: 100%;
  height: 100rem;
}

.grid--3-cols {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  box-sizing: border-box;
  width: 200rem;
  height: 40rem;
  margin-left: auto;
  margin-right: auto;

  padding: 0rem 20rem;
  padding-bottom: 44rem;
  column-gap: 7rem;

  align-self: center;
}
.products {
  height: 35rem;
  width: 28rem;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  box-shadow: 0.05px 0.05px 6px rgb(158, 157, 157);
  overflow: hidden;
}

.product-img {
  height: 28rem;
  width: 28rem;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  transition: all 0.4s;
}

.product-img:hover {
  transform: scale(1.1);
}

.price-container {
  overflow: hidden;
  height: 6.5rem;
  width: 28rem;
  background-color: rgb(251, 247, 247);

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.4rem;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

h2 {
  text-align: center;
  font-size: 1.8rem;

  color: black;
}

/*************************************************/
/*FEATURES*/
/*************************************************/
.grid--4-cols {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 6.4rem;
}

.containerr {
  max-width: 100%;
  height: 30rem;
  padding: 0 8rem;
}

.feature-icon {
  color: rgb(190, 190, 5);
  height: 3.2rem;
  width: 3.2rem;
  background-color: beige;
  margin-bottom: 3.2rem;
  padding: 1.6rem;
  border-radius: 50%;
}

.feature-title {
  font-size: 2.4rem;
  color: black;
  font-weight: 700;
  margin-bottom: 1.6rem;
}
.feature-text {
  font-size: 1.6rem;
  line-height: 1.8;
}

.voidd {
  height: 15rem;

  border-bottom: 0.001px solid rgb(200, 198, 198);
}

/*************************************************/
/*FOOTER*/
/*************************************************/
.footer {
  height: 50rem;
}
.containerrr {
  max-width: 100%;
  height: 40rem;
  padding: 0 8rem;
}
.grid {
  margin-top: 15em;
}
.copyright {
  font-size: 1.2rem;
  line-height: 1.8;
  color: grey;
}

.title {
  font-size: 2rem;
  line-height: 1.8rem;
  font-weight: bold;
  color: rgb(86, 85, 85);
  margin-bottom: 4.5rem;
}

.footer-text {
  font-size: 1.8rem;
  line-height: 1.8rem;
  color: grey;
  margin-bottom: 2rem;
}
.footer-title {
  margin-bottom: 10rem;
}
